@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    @apply text-[14px] sm:text-[16px];
}
* {
  @apply font-inter;
}
body {
  @apply bg-gray-100;
  background-color: black;
}

.custom-text {
  color: #B55510;
  font-size: 24px;
  font-family: fantasy;
  align-items: center;
  align-self: center;
}